@use "../../assets/scss/base/design-tokens.scss" as *;

.wrap {
	height: 402px;
	background-color: $color-light;
	margin-top: 50px;
	padding: 50px 156px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;

	@media (max-width: 1199px) {
		padding: 50px 20px;
		height: 964px;
	}

	.header {
		font-weight: $bold-weight;
		font-size: $font25;
		line-height: $line_height;
		text-align: center;

		@media (max-width: 1199px) {
			width: 340px;
		}
	}

	.category_list {
		display: flex;
		gap: 22px;
		padding-top: 40px;

		@media (max-width: 1199px) {
			flex-direction: column;
			flex-wrap: wrap;
			gap: 64px;
		}
	}
}
